/*========== UNIVERSAL STYLES =========*/
html, body {
	height: 100%;
}

/*========= HOME PAGE STYLES ==========*/

.home-wrapper {
	background-color: #bdc3c7;
}

.container {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.home-cover {
	max-width: 50%;
}

.home-cover h3 {
	text-align: center;
}

.home-cover ul {
	list-style-type: none;
	display: block;
}

.home-cover ul li {
	display: inline-block;
}

/*======= NAVIGATION STYLES ========*/

nav.navigation {
	position: absolute;
	top: 0;
	right: 0;
}

/*======== ABOUT PAGE STYLES ===========*/

.about-wrapper {
	background-color: #3498db;
}

/*======== PROJECTS STYLES ===========*/
.projects-wrapper {
	background-color: #27ae60;
}

span.carousel-control-next-icon,
span.carousel-control-prev-icon {
	position: relative;
}

span.carousel-control-next-icon {
	right: -99px;
}

span.carousel-control-prev-icon {
	left: -96px;
}

ol.carousel-indicators {
	bottom: -44px;
}

.carousel img {
	border: 10px solid #bdc3c7;
	width: 865px;
	height: 604px;
}
