@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans:400i|Rubik|Abril+Fatface|Anton');

/*========== UNIVERSAL STYLES =========*/
html, body {
	height: 100%;
}

/*========= HOME PAGE STYLES ==========*/

.home-wrapper {
	background-color: #bdc3c7;
}

.container {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.home-cover {
	max-width: 50%;
}

.home-cover h1 {
	font-family: 'Anton', sans-serif;
	font-size: 3em;
}

.home-cover h3 {
	text-align: center;
}

.home-cover ul {
	list-style-type: none;
	display: block;
	text-align: center;
}

.home-cover ul li {
	display: inline-block;
	padding-right: 10px;
}

/*======= NAVIGATION STYLES ========*/

nav.navigation {
	position: absolute;
	top: 0;
	right: 0;
}

nav a {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 15px;
	color: #424242;
	padding: 20px 10px;
}

nav a:hover {
	text-decoration: none;	
}

nav a:hover,
nav a:active,
nav a:focus {
	color: #ecf0f1;
}

/*======== ABOUT PAGE STYLES ===========*/

.about-wrapper {
	background-color: #3498db;
}

.about-cover {
	font-family: 'Open Sans', sans-serif;
	margin-top: 120px;
}

.first-paragraph {
	font-family: 'Abril Fatface', cursive;
	font-size: 45px;
}

.hidden-paragraph {
	display: none;
	color: #fff;
}

.hidden-paragraph:hover {
	display: show;
	font-size: 17px;
}



/*======== PROJECTS STYLES ===========*/
.projects-wrapper {
	background-color: #27ae60;
	font-weight: 600;
}

span.carousel-control-next-icon,
span.carousel-control-prev-icon {
	position: relative;
}

span.carousel-control-next-icon {
	right: -99px;
}

span.carousel-control-prev-icon {
	left: -96px;
}

ol.carousel-indicators {
	bottom: -44px;
}

.carousel img {
	border: 10px solid #262626;
	width: 865px;
	height: 604px;
}

/*Hover Effect*/

.carousel-item .mask, .carousel-item .content {
	width: 865px;
	height: 604px;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
}

.carousel-item h3 {
	text-transform: uppercase;
	font-size: 17px;
}

.mask-text {
	color: #fff;
	text-align: center;
	position: relative;
	top: 340px;
	padding: 10px;
	background-color: rgba(0,0,0,0.8);
	margin: 20px 0 0 0;
}

.mask-text a {
	color: #fff;
	padding-right: 10px;
}

.mask-text a:hover {
	color: #2ecc71;
}

.mask-effect img {
	transition: all 0.2s linear;
}

.mask-effect .mask {
	opacity: 0;
	background-color: rgba(236, 240, 241, 0.6);
	transition: all 0.4s ease-in-out;
}


.mask-effect:hover img {
	transform: scale(1.1);
}

.mask-effect:hover .mask {
	opacity: 1;
}


